<head>
	<%== document.header %>
</head>
<h1>asdsd</h1>
<br>
<footer>
	<%== document.footer %>
</footer>

<style type="text/css" media="screen">

	table{
		border: 1px solid #e8e9ef;
	}

	table td{
		border: 1px solid #e8e9ef;
	}
	
</style>