
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
      	<div class="row">
      		
      	<div class="card col-md-12">
      		<div class="card-body">

				<p>
					<strong>Version:</strong>
					<%= @process_map.version %>
				</p>
			</div>
      	</div>

      	<div class="card col-md-12 text-center">
      		<div class="card-body">
      			<%= @process_map.file? ? image_tag(@process_map.file_url(), class: "img-user") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", class: "img-user")%>
      		</div>
      	</div>
      	</div>

      </div>
    </div>
  </div>


<style type="text/css" media="screen">
	.img-user{
		width:700px;
    	
	}
</style>

